*{
    margin: 0;
    padding: 0;
}

body{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 70px 100px 1fr 70px;
    height: 100vh;
    grid-template-areas: "header" "buscador" "main" "footer";
}

header{
    background-color: #2e7d32;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    grid-area:header;
}

header .brand{
    display: flex;
    align-items: center;
    padding: 20px;
    font-size: 25px;
}

header .brand i{
    margin: 5px;
}

.menu-barras{
    padding: 23px;
}

.menu{
    display: none;
}

.buscador{
    background-color: #DBDDE1;
    font-size: 27px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    grid-area:buscador;
}

.buscador select{
    width: 80%;
    height: 37%;
    border: solid 3px rgb(222, 222, 222);
    margin: 3px;
    border-radius: 4px;
}

main{
    background-color: white;
    grid-area:main;
    padding: 20px;
}

.cards{
    display: grid;
    gap: 20px;
    grid-template-columns: 1fr;

}

.card{
    text-align: center;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    border: solid 1px black;
    align-items: center;
    padding: 10px;

}

.card div img{
    width: 100%;
}

.card a{
    color: white;
    text-decoration: none;
    background-color: #2e7d32;
    min-width: 100px;
    padding: 10px;
    font-size: 25px;
    border-radius: 3px;
}

footer{
    background-color: #005005;
    color:white;
    padding: 10px;
    grid-area:footer;
}

.icons{
    text-align: center;
}

.icons i{
    margin:5px;
}

.navegacion{
    display: flex;
    justify-content: center;
    padding: 20px;
}

.navegacion p{
    color: #2e7d32;
    border: solid 1px rgb(147, 147, 147);
    padding: 5px;
}

@media (min-width: 576px){

    body{
        grid-template-columns: 1fr 3fr;
        grid-template-rows: 70px 1fr 70px;
        height: 100vh;
        grid-template-areas: 
                "header header"
                "buscador main"
                "footer footer"
        ;
    }

    .menu-barras{
        display: none;
    }

    .menu{
        display: flex;
    }

    .opcion{
        padding: 5px;
        margin-right: 20px;
    }

    .buscador{
        font-size: 100%;
        justify-content: start;
        padding: 20px;
    }

    .buscador select{
        width: 60%;
        height: 30px;
        margin-top: 5px;
    }

    .cards{
        grid-template-columns: repeat(2,1fr);
    }
}

@media (min-width:992px){

    body{
        grid-template-columns: 1fr 6fr;
        grid-template-rows: 70px 1fr 100px;
        height: 100vh;
        grid-template-areas: 
                "header buscador"
                "header main"
                "footer main"
        ;
    }

    .cards{
        grid-template-columns: repeat(4,1fr);
    }

    .buscador{
        font-size: 100%;
        justify-content: start;
        padding: 5px;
    }

    .buscador select{
        width: 95%;
        border-radius: 4px;
    }

    header{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: start;
        grid-area:header;
    }

    header .brand{
        font-size: 100%;
    }

    .menu{
        display: flex;
        flex-direction: column;
    }
}